.mainFooterDiv {
    background-color: black;
}

.flexouter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footerHeader {
    text-align: center;
    color: white;
}
.finisher {
    text-align: center;
    color: white;
}
.socLinks {
    text-align: center;
    color: white;
}
.navLinks {
    text-align: center;
    color: white;
}
#disclaimer {
    text-align: center;
    font-size: 0.75em;
    color: white;
}
